<div class="filter-row">
  <form style="margin-bottom: 32px">
    <div fxLayout="row">
      <mat-form-field class="full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" aria-label="Search" [formControl]="search" />
        <mat-hint>Search by COUNTRY</mat-hint>
        <mat-error *ngIf="search.invalid">
          To search for COUNTRY type at least 2 characters
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="_isLoadingResults">
    <mat-spinner *ngIf="_isLoadingResults"></mat-spinner>
    <div class="error" *ngIf="_hasError">
      {{ errorText }}
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
    <ng-container matColumnDef="Country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Country }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ISO2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ISO2 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ISO2 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Slug </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Slug }} </mat-cell>
    </ng-container>
    <!--
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center"
        >View Details</mat-header-cell
      >
      <mat-cell
        *matCellDef="let row"
        fxLayoutAlign="end center"
        style="margin-right: 8px"
      >
        <a
          mat-button
          mat-icon-button
          [routerLink]="[
            '/manager/users',
            { outlets: { detail: ['user', { userId: row.id }] } }
          ]"
          skipLocationChange
        >
          <mat-icon>visibility</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
  -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
